/* @import './_base.css'; */
@import './_utilities.css';
@import './_reset.css';


body {
    font-family: system-ui;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}